<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <queries>
        <package android:name="com.igaworks.adbrixrm.debug" />
    </queries>

    <application
        android:name="com.example.MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <!-- TK live -->
<!--        <meta-data android:name="8mPklqxVCUOkZGLfJHYbTA" android:value="AxVdx3sPE0yS8CUpfl6I0Q" />-->
        <!-- TK dev -->
        <meta-data android:name="ZxJkfJSUF0uKoPM7n27lGg" android:value="tlx8RxlHLESd3367ACM41g" />
        <!-- TK in app message -->
<!--        <meta-data android:name="IqDU25JtZkaTEoy0VquaAw" android:value="HiZeD4ZdCU6TVRwS4QPHQg" />-->
        <!-- SL live -->
<!--        <meta-data android:name="ns1zKiRK40OPiZkYsAJbbg" android:value="fyxxBJPdzkydcuuiXQgVtw" />-->
        <!-- SL dev-->
<!--        <meta-data android:name= "bccpaGIxvUGEcITGOVMoUQ" android:value="qdQHZrbtuEm8YDSnsOGJfQ" />-->
<!--        <meta-data android:name="AdBrixRmAppKey" android:value="gBnARKsxTEG3RDSJRhl5LQ" />-->
<!--        <meta-data android:name="AdBrixRmSecretKey" android:value="BOfAI2wQV0mMa34SUPBPzw" />-->

        <meta-data android:name="AdBrixRmAppKey" android:value="IqDU25JtZkaTEoy0VquaAw" />
        <meta-data android:name="AdBrixRmSecretKey" android:value="tlx8RxlHLESd3367ACM41g" />

        <meta-data
            android:name="AdbrixServerMode"
            android:value="1" />
        <!-- live : 0, dev : 1, stage : 2-->

        <meta-data
            android:name="DfnRegion"
            android:value="1" />

        <meta-data
            android:name="AdBrixCustomLogicFlag"
            android:value="3" />
        <activity
            android:name="com.example.MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter
                android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="abxrm" android:host="here"/>
            </intent-filter>

        </activity>

        <service
            android:name="com.example.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.igaworks.v2.core.push.notification.AbxPushReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.igaworks.v2.core.pushServiceImplement.CLIENT_PUSH_RECEIVE" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
